<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="USERS_API Suite">
   <listeners>
   <!-- listener class-name="com.qa.ExtentReportListner.ExtentReportListner"></listener-->
   </listeners>
   <test name="USERS_API_Result">
  	<classes>
  	 <class name="com.NotificationDetails.TC001_Get_Notification_Users"></class>
     <class name="com.NotificationDetails.TC002_Post_Notification_Users"></class>
     <class name="com.NotificationDetails.TC003_PUT_Notification_Users"></class>
     <class name="com.NotificationDetails.TC004_Get_One_Notification_Details"></class>
     <class name="com.NotificationDetails.TC005_Delete_Notification_Details"></class>
     <class name="com.DriverProfile.TC001_Post_DriverRegistration"></class>
     <class name="com.DriverProfile.TC002_Post_DriverVerify"></class>
     <class name="com.DriverProfile.TC003_GetDriverID"></class>
     <class name="com.DriverProfile.TC004_GetDriverUserNM"></class>
    </classes>
    
  </test>
</suite> <!-- Suite -->
